absl-py==2.0.0
amzsear==2.0.1
annotated-types==0.5.0
anyio==3.7.1
asgiref==3.7.2
subprocess
assemblyai==0.15.1
astunparse==1.6.3
attrs==23.1.0
autoscraper==1.1.14
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
boto3==1.28.62
botocore==1.31.62
bs4==0.0.1
CacheControl==0.13.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
chromedriver-autoinstaller==0.6.2
click==8.1.6
colorama==0.4.6
comtypes==1.2.0
contourpy==1.1.1
cryptography==41.0.3
cssselect==1.2.0
cycler==0.12.1
decorator==4.4.2
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.3.7
distro==1.8.0
Django==4.2.4
dnspython==2.4.0
docx==0.2.4
docx2pdf==0.1.8
docx2txt==0.8
easyocr==1.7.1
EasyProcess==1.1
editdistance==0.6.2
efficientnet==1.0.0
entrypoint2==1.1
essential-generators==1.0
et-xmlfile==1.1.0
fake-useragent==1.2.1
filelock==3.12.2
fire==0.5.0
firebase-admin==6.2.0
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.43.0
future==0.18.3
gast==0.5.4
gcloud==0.18.3
google-api-core==2.11.1
google-api-python-client==2.96.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
Google-Search-API @ git+https://github.com/abenassi/Google-Search-API@546a59cc22d3260c60a2faf9afe6477168ead627
google-serp-api==1.0.4
googleapis-common-protos==1.60.0
googlesearch-python==1.2.3
grpcio==1.56.2
grpcio-status==1.56.2
h11==0.14.0
h5py==3.10.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
idna==3.4
imageio==2.31.2
imageio-ffmpeg==0.4.8
img2pdf==0.4.4
imgaug==0.4.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
JPype1==1.4.1
jwcrypto==1.5.0
keras==2.14.0
Keras-Applications==1.0.8
keras-ocr==0.8.9
kiwisolver==1.4.5
language-tool-python==2.7.1
lazy_loader==0.3
libclang==16.0.6
lxml==4.9.3
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mdurl==0.1.2
ml-dtypes==0.2.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
mss==9.0.1
multidict==6.0.4
networkx==3.1
ninja==1.11.1
numpy==1.25.1
oauth2client==4.1.3
oauthlib==3.2.2
ocrmypdf==15.0.2
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
pa-scraper==0.2.4
packaging==23.2
pandas==2.0.3
pdf2docx==0.5.6
pdfkit==1.0.0
pdfminer.six==20221105
pikepdf==8.4.1
Pillow==9.5.0
pipi==1.0.1
platformdirs==3.9.1
pluggy==1.3.0
pptxtopdf==0.0.2
proglog==0.1.10
prompt-toolkit==1.0.14
proto-plus==1.22.3
protobuf==4.24.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.1.1
pydantic_core==2.4.0
pyfiglet==1.0.2
PyGetWindow==0.0.9
Pygments==2.16.1
PyInquirer==1.0.3
PyJWT==2.8.0
pymongo==4.4.1
PyMsgBox==1.0.9
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
pyocr==0.8.5
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
Pyrebase==3.0.11
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytesseract==0.3.10
python-amazon-paapi==5.0.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-jwt==4.0.0
python-pptx==0.6.22
pyttsx3==2.90
pytweening==1.0.7
pytz==2023.3
PyWavelets==1.4.1
pywhatkit==5.4
pywin32==306
PyYAML==6.0.1
regex==2023.10.3
reportlab==4.0.5
requests==2.29.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rich==13.6.0
rsa==4.9
s3transfer==0.7.0
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.11.3
selenium==4.13.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SpeechRecognition==3.10.0
sqlparse==0.4.4
sseclient==0.0.27
sympy==1.12
tabula-py==2.8.2
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tesseract==0.1.3
threadpoolctl==3.2.0
tifffile==2023.9.26
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.7.1
tzdata==2023.3
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.16
validators==0.22.0
vcrpy==5.1.0
virtualenv==20.24.1
wcwidth==0.2.8
websockets==11.0.3
Werkzeug==2.3.6
wikipedia==1.4.0
wkhtmltopdf==0.2
wrapt==1.14.1
wsproto==1.2.0
XlsxWriter==3.1.9
yarl==1.9.2
